* {
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
  padding: 5px;
}

 #content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}

body { 
  background: rgb(22, 16, 15);
  color: rgb(223, 64, 64);
}

main {
  color: black;
  background: rgb(45,45,45);
  padding: 15px;
  display:flex;
  flex: 1;
}

header {
  padding: 5px 30px;
  display: flex;
  align-items: center;
}

header h2 {
  flex: 3;
}

nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

aside {
  padding: 15px;
  flex:1;
  background: grey;
}

#articles {
  flex: 2;
  background: darkgrey;
}

#articles p {
  background: white;
  padding: 15px;
}