* {
  box-sizing: border-box;
}

 #content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body { 
  background: rgb(22, 16, 15);
  color: rgb(223, 64, 64);
}

main {
  color: black;
  background: rgb(45,45,45);
  padding: 15px;
  display:flex;
  flex: 1;
}

aside {
  padding: 15px;
  flex:1;
  background: grey;
}

#articles {
  flex: 2;
  background: darkgrey;
}

#articles p {
  background: white;
  padding: 15px;
}